
/**
 * Grid styles
 */
 
 .grid {
	margin-left: -15px;
	margin-right: -15px;
 }
 
.item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.45);
  -webkit-transition: background-color .55s ease-in-out;
          transition: background-color .55s ease-in-out;
}
.item__overlay:focus, .item__overlay:hover {
  background-color: rgba(17, 17, 17, 0.05);
}
.item__overlay:focus > button, .item__overlay:hover > button {
  opacity: 1;
}

.grid__sizer,
.grid__item {
  position: relative;
  width: 20%;
  min-width: 16.25rem;
}

.grid__item {
  margin-bottom: .9375rem;
  overflow: hidden;
}

.grid__item--high,
.grid__item--high img {
  height: 480px;
}

a img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/**
 * Link styles
 */
a,
.fa {
  color: #bbb;
  -webkit-transition: color .25s ease-in-out;
          transition: color .25s ease-in-out;
}
a:focus, a:hover,
.fa:focus,
.fa:hover {
  text-decoration: none;
  color: #666;
}

.active .fa {
  color: #f62459;
}
