/* Breakpoint mixin */ 

@mixin respond-to($breakpoint) {

    @if $breakpoint == "xxs" {
	/* tbc */
		@media (min-width: 300px) {
		  @content;
    }
  }
 
	@elseif $breakpoint == "xs" {
	  /* correct */
		@media (min-width: 480px) {
		  @content;
    }
  }
  
	@elseif $breakpoint == "sm" {
	  /* correct */
		@media (min-width: 768px) {
		  @content;
    }
  }

	@elseif $breakpoint == "md" {
	  /* correct */
		@media (min-width: 992px) {
		  @content;
    }
  }

	@elseif $breakpoint == "lg" {
	  /* correct */
		@media (min-width: 1200px) {
		  @content;
		}
	}
 }