
//SEARCH BOX
// This allows the search box to resize, and controls the transition

.sb-search {
	position: relative;
	margin-top: 10px;
	width: 0%;
	min-width: 60px;
	max-width: 380px;
	height: 60px;
	float: left;
	overflow: hidden;

	-webkit-transition: width 0.7s;
	-moz-transition: width 0.7s;
	transition: width 0.7s;

	-webkit-backface-visibility: hidden;
}

	//SEACH BOX - TEXT
	/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
	@font-face {
		font-family: 'icomoon';
		src:url('../fonts/icomoon/icomoon.eot');
		src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
			url('../fonts/icomoon/icomoon.woff') format('woff'),
			url('../fonts/icomoon/icomoon.ttf') format('truetype'),
			url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	//SEARCH BOX - TEXT INPUT
	//Controls the position of the user's text input
	
	.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #A4A4A4;
	}

	input[type="search"].sb-search-input {
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
	}
	
	//SEARCH BOX - COLOUR
	
	.sb-search-input::-webkit-input-placeholder {
	color: #A4A4A4;
	}

	.sb-search-input:-moz-placeholder {
		color: #A4A4A4;
	}

	.sb-search-input::-moz-placeholder {
		color: #A4A4A4;
	}

	.sb-search-input:-ms-input-placeholder {
		color: #A4A4A4;
	}
	
	//SEARCH BOX - ICON POSITION
	
	.sb-icon-search,
	.sb-search-submit  {
		width: 60px;
		height: 60px;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0;
		margin: 0;
		line-height: 60px;
		text-align: center;
		cursor: pointer;
	}
	
	//SEARCH BOX - SUBMIT OVERLAY
	//This is what changes the function of the search button when text is input
	.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	}
	
		//SEARCH BOX - ICON Z INDEX
		//Works with the submit overlay
		.sb-icon-search {
		color: black;
		background: white;
		z-index: 90;
		font-size: 22px;
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
	}

		.sb-icon-search:before {
			content: "\e000";
		}
		
		//SEARCH BOX - NO JS
		//Style the box without JS
		
			//Default to open
			.sb-search.sb-search-open,
			.no-js .sb-search {
				width: 100%;
			}
			
			//Allowing search (without using JS to change z-index)?
			.sb-search.sb-search-open .sb-icon-search,
			.no-js .sb-search .sb-icon-search {
				background: white;
				color: black;
				z-index: 11;
			}
			
			.sb-search.sb-search-open .sb-search-submit,
			.no-js .sb-search .sb-search-submit {
				z-index: 90;
			}