
//CARD CONTAINER
//The core container for cards, to line them up correctly on the page
.card-container {
	max-width:100%;
}

	.card-deck {
		display: table;
		table-layout: fixed;
		width: 100%;
		max-width: 100%;
	}

		.card {
			display: table-cell;
			max-width: 100%;
		}

			//CARD IMAGES
			//This ensures that the card images size correctly
			.card-img-top {
				max-width:100%;
				border-radius: 0;
			}