
//IMAGE GALLERY SETTINGS
//These settings define how the galleries display.

//main container
.gallery-container {
	margin-left: -15px;
	padding: 0;
	width: 100rem;
}

	//targeting the div margins, only for the gallery
	.gallery-container div[class^="col"]{
	margin: 0;
	padding-left: 0px;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	}

		//individual image settings
		.gallery-img {
			padding-left: 0;
			padding-right: 5px;
			max-width: 100%;
		}
		
			//ADJUSTMENTS
			//images on right hand side (no padding, to hug the edge of page)
			.gallery-container .gallery-img-end {
				padding-right: 0;
			}
			
			//bottom images
			.gallery-container .gallery-bottom {
			position: relative;
			@include respond-to(xs) {
				bottom: 102px;
			}
			@include respond-to(sm) {
				bottom: 125px;
			}
			@include respond-to(md) {
				bottom: 162px;
			}
			@include respond-to(lg) {
				bottom: 195px;
			}
			}